<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="navbar-nav mr-auto"></div>
  <button type="button" class="btn btn-dark" (click)="open(content)">Setting</button>
  <button type="button" class="btn btn-dark">{{user?.name}}</button>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12  d-flex justify-content-center">
          <div class="btn-group btn-group-sm" role="group" aria-label="preference modal">
            <button type="button" class="btn btn-light">Groups</button>
            <button type="button" class="btn btn-light">Application</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-5">
            <select class="custom-select" multiple size="10">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-2 text-center">
              <div class="m-5"></div>
            <button type="button" class="btn btn-primary btn-sm">
              <i class="fa fa-angle-double-left"></i>
            </button> 
            <div class="m-5"></div>
            <button type="button" class="btn btn-secondary btn-sm">
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
          <div class="col-5">
            <select class="custom-select" multiple size="10">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>