<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Dashboard playlist content</h1>
      <p class="lead">This is a template for dashbaord playlist content</p>
      <div *ngFor="let video of playlist.videos">
          <span>Playlist: {{playlist.playlistName}} Video name: {{video.name}}</span>
      </div>
    </div>
  </div>