<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
      <video width="320" height="240" controls id="videoDisplay">
          <source type="audio/mp3">
          Your browser does not support the video tag.
        </video> 
  </div>
</div>