<!-- Skye Menu Card -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span>Menu</span>
    <span>
      <button type="button" class="btn btn-light btn-sm" (click)="gotoDefaultView()"><i class="fa fa-home" aria-hidden="true"></i></button>
    </span>
  </div>
  <ul class="list-group list-group-flush small">
    <li class="list-group-item" (click)="gotoMyVideos()">My Videos</li>
    <li class="list-group-item" (click)="gotoFavoriteVideos()">Favorite Videos</li>
    <li class="list-group-item" (click)="gotoSubscribedApplications()">Subscribed Applications</li>
    <li class="list-group-item" (click)="gotoSubscribedGroups()">Subscribed Groups</li>
  </ul>
</div>
<span class="p-2"></span>
<!-- Playlists -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span>Playlist</span>
    <span>
      <button type="button" class="btn btn-light btn-sm" (click)="createPlaylist()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </span>
  </div>
  <ul class="list-group list-group-flush small">
    <li class="list-group-item" (click)="showPlaylist(playlist.id)" *ngFor="let playlist of playlists">{{playlist.playlistName}}</li>
  </ul>
</div>