<!--
<div class="float-right">
  <div class="card" style="width: 18rem; padding-bottom: 1rem;">
    <div class="card-header">
      <ul class="nav">
        <li class="nav-item mr-auto">
          Log Messages
        </li>
        <li class="nav-item">
          <button class="btn btn-info btn-sm" (click)="messageService.clear()">clear</button>
        </li>
      </ul>
    </div>

    <div class="card-body" style="overflow:scroll; max-height: 10rem; overflow-x: hidden;">
      <div *ngIf="messageService.messages.length">
        <div *ngFor='let message of messageService.messages'><span class="small">{{message}}</span></div>
      </div>
    </div>
  </div>
</div>
-->
