<h6><span class="badge badge-secondary">{{section?.sectionName}}</span></h6>
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Dashboard Content</h1>
    <p class="lead">This is a template for dashbaord content</p>
    <div *ngFor="let video of videos">
        <span>Video name: {{video.name}}</span>
    </div>
  </div>
</div>