<main role="main" class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left" [ngClass]="{'active': !toggle}">
    <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </div>
    <div class="col-12 col-md-10 p-0">
      <div class="float-left d-md-none">
        <button type="button" class="btn btn-sm btn-secondary" data-toggle="offcanvas" (click)="toggleSidebar(event)">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>